
.textlayout {
color: white;
text-align: center;
padding-top: 110px;
}


.backgroundimage {
  position: relative;
  top: -70px;
  background-image: url("http://i.imgur.com/P4Ztfyw.jpg?1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: -2;
}


.backgroundcolor {
 background-color: rgba(110, 200, 199, 0.7);
 height: 500px;
}

.carouselitem{

  padding-top:50px;
}

/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
