.textlayout {
color: white;
text-align: center;
padding-top: 200px;
}

.backgroundimage {
  position: relative;
  top: -125px;
  background-image: url("http://i.imgur.com/P4Ztfyw.jpg?1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: 0;
}

.backgroundcolor {
  background-color: rgba(110, 200, 199, 0.7);
  height: 500px;
  z-index: 2;
}

.search-bar {
 // add some css here to style the homepage searchbar
  padding-top: 30px;
}

.first-field-search {
  margin-left: 19%;
}

.submit-search {
  // background-color: #D2116C;
}

@media (max-width: 991px) {
  .backgroundimage {
    height: 646px;
  }
  .backgroundcolor {
    height: 646px;
  }
  .first-field-search {
    margin-left: 0;
  }
}

@media (max-width: 516px) {
  .backgroundimage {
    height: 690px;
  }
  .backgroundcolor {
    height: 690px;
  }
}

/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
