.textlayout {
color: white;
text-align: center;
padding-top: 100px;
}

.backgroundimage {
  position: relative;
  background-image: url("http://i.imgur.com/P4Ztfyw.jpg?1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  z-index: 0;
}

.backgroundcolor {
  background-color: rgba(0,188,212,0.8);
  height: 400px;
  z-index: 2;
}

@media (max-width: 991px) {
  .backgroundimage {
    height: 646px;
  }
  .backgroundcolor {
    height: 646px;
  }
  .first-field-search {
    margin-left: 0;
  }
}

@media (max-width: 516px) {
  .backgroundimage {
    height: 690px;
  }
  .backgroundcolor {
    height: 690px;
  }
}

.color-search {
  margin-top: 60px;
}

.tabs-products {
  padding: 40px;
  a {
    color: black;
    &.active {
      color: #FF4081;
    }
  }
}

.margin-top-container {
  margin-top: 20px;
}

/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
