<div class=" backgroundimage ">
<div class="backgroundcolor  ">
<div class=" textlayout ">

<h1> <b>The Best of Crowdfunding </b></h1>
<br>
<h4>Among the startups who achieved a succesfull crowdfunded campaign,</h4>
<h4>we pick the finest to offer our customers a selection the very best cherries </h4>
</div>
  </div>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

        <div class="item text-center active">
          <div>
          <h4><b>The most popular</b></h4>
            <div class="carouselitem">
              <% @product.each do |a| %>
                <div class= "col-xs-12 col-sm-4 col-md-3">
                <H4> name: <%= a.name %></H4>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="item text-center">
         <div>
          <h4><b>The most funded</b></h4>
            <div class="carouselitem">
              <% @product.each do |a| %>
                <div class= "col-xs-12 col-sm-4 col-md-3">
                <H4> name: <%= a.name %></H4>
                </div>
              <% end %>
            </div>
          </div>
        </div>

       <div class="item text-center">
           <div>
            <h4><b>Our "coup de coeur"</b></h4>
              <div class="carouselitem">
                <% @product.each do |a| %>
                  <div class= "col-xs-12 col-sm-4 col-md-3">
                  <H4> name: <%= a.name %></H4>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


