<div class=" backgroundimage ">
<div class="backgroundcolor  ">
<div class=" textlayout ">

<h1> <b>The Best of Crowdfunding </b></h1>
<br>
<h4>Among the startups who achieved a succesfull crowdfunded campaign,</h4>
<h4>we pick the finest to offer our customers a selection the very best cherries </h4>
</div>
  </div>
</div>

<div> <!-- starts of Tabs -->

<!-- Nav tabs -->
<div class="container " >
  <div class="row" >
    <div class=" col-xs-12" >
      <ul class="nav nav-pills nav-tabs-styling" role="tablist">

        <li role="presentation"><a class="nav-tabs-styling" href="#Ourcoupdecoeurs" aria-controls="Ourcoupdecoeurs" role="tab" data-toggle="tab">Our coup de coeurs</a></li>

        <li role="presentation" class="active "><a class="nav-tabs-styling"href="#mostfunded" aria-controls="mostfunded" role="tab" data-toggle="tab">Most Funded</a></li>

        <li role="presentation"><a class="nav-tabs-styling" href="#mostbackers" aria-controls="mostbackers" role="tab" data-toggle="tab">Most Backers</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Tab panes 1-->
<div class="tab-content">

  <%= render partial: 'products_tab', locals: { products: @products, id: "Ourcoupdecoeurs", active: false } %>
  <%= render partial: 'products_tab', locals: { products: @Most_funded_products, id: "mostfunded", active: true  } %>
  <%= render partial: 'products_tab', locals: { products: @Most_backers_products, id: "mostbackers", active: false } %>

</div>


</div><!-- end of Tabs-->





