
@media (min-width: 768px) {
  #product-add {
    right: 10%;
  }
}

#own-nav{
  background-color: rgba(1,1,1,0);
  padding: 10px;
  border: none;
  a {
    color: white;
  }
}

.navbar{
  margin-bottom: 0px;
}

.dropdown-toggle{
  background-color: rgba(1,1,1,0);
}

.dropdown-menu {
  background-color: #58646D;
}
