.cherry {
  position: absolute !important;
}
.logo-text {
  margin-left: 40px !important;
}

.navbar {
  margin: 0;
}

// @media (min-width: 768px) {

// }

// .title{

// padding-top: 0px;
// margin-top: -6px;
// }

// #own-nav{
//   background-color: rgba(1,1,1,0);
//   padding: 10px;
//   border: none;
//   a {
//     color: white;
//   }
// }

// .dropdown-toggle{
//   background-color: rgba(1,1,1,0);
// }

// .dropdown-menu {
//   background-color: #58646D;
// }
