/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 1000000;
  position: fixed;
  top: 50px;
  width: 100%;
  &-info {
    background: $green;
  }
  &-warning {
    background: $red;
  }
}
