// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-colored {
  background-color: rgb(110, 200, 199);
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.4em;
}
.own-btn {
  background-color: white;
  border: solid;
  border-color: rgb(110, 200, 199);
  color: rgb(110, 200, 199);
  border-radius: 8px;
  &:hover{
    background-color: rgb(110, 200, 199);
    border: solid;
    border-color: white;
    color: white;
    border-radius: 4px;
  }
}
