// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-danger {
  border-radius: 8px;
}

.order-box {
  padding-top: 90px;
  padding-bottom: 90px;
}

.product-box {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
  height: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  color: white;
  font-size: 1.5em;
}

.video-box {
  background-color: white;
  padding: 0;
  p {
    padding: 30px;
  }
}

.details-box {
  padding-left: 60px;
  h4 {
    margin-bottom: -6px;
    b {
    font-size: 2em;
    }
  }
  h1 {
    padding-bottom: 20px;
  }
  h5 {
    margin-bottom: 20px;
  }
}

.order-panel {
  .panel-heading {
    background-color: #0097A7 !important;
  }
  .panel-title {
    font-size: 2em;
  }
  span {
    margin-left: auto;
    font-size: 1.5em;
  }
  p {
    display: flex;
    align-items: center;
  }
}

.order-card-image {
  padding: 0;
  max-width: 100%;
}
